.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.react-calendar__navigation button {
  color: #4d9efe;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

// custom style for calendar

.react-calendar {
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;

  button {
    margin: 0;
    border: 0;
    outline: none;
  }
}

.react-calendar__navigation>button:enabled:hover,
.react-calendar__navigation>button:enabled:focus {
  // background-color: transparent;
  display: contents;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  padding: 0;
  margin: 0;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__weekdays {
  color: #9d9d9d;
  text-transform: capitalize !important;
}

button.react-calendar__navigation__label {
  order: -1;
  text-align: initial;
  font-size: 16px;
  font-weight: 700;
  color: #505050;
  pointer-events: none;
  margin-left: 8px;
}

.react-calendar__month-view__days__day--weekend {
  color: #505050;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #4d9efe;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #4d9efe33;
  border-radius: 6px;
  font-weight: bold;
  color: #4d9efe;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #4d9efe33;
  border-radius: 6px;
  font-weight: bold;
  color: #4d9efe;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #4d9efe;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4d9efe;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #4d9efe;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #4d9efe;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #4d9efe;
  color: white;
}

.react-calendar__tile {
  position: relative;
  font-weight: 600;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 100%;
}

.position-abs {
  position: absolute;

  &.--center-in-1 {
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.--left-in-2 {
    bottom: 6px;
    left: 40%;
    transform: translateX(-50%);
  }

  &.--right-in-2 {
    bottom: 6px;
    left: 60%;
    transform: translateX(-50%);
  }

  &.--left-in-3 {
    bottom: 6px;
    left: 30%;
    transform: translateX(-50%);
  }

  &.--center-in-3 {
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.--right-in-3 {
    bottom: 6px;
    left: 70%;
    transform: translateX(-50%);
  }
}