.button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  text-transform: none;
  align-items: center;
  height: 50px;
  box-shadow: none;
  width: fit-content;
  padding: 12px 40px;
  // border-radius: 50px;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
    border: none;
  }

  &:disabled {
    border: none;
  }

  &-text {
    margin: 0px 5px;
  }
}

.button--outlined {
  border: 1px solid $main_color  !important;
  color: $main_color;

  &:hover {
    background-color: rgba(77, 158, 254, 0.1);
  }
}

.button--contained {
  border: 1px solid $main_color  !important;
  background-color: $main_color;
  color: $white_color;
}

.button--active {
  border: 1px solid $main_color  !important;
  background-color: rgba(77, 158, 254, 0.1);
  color: $main_color;
}

.button--small {
  width: 80px;
  height: 30px;
  border-radius: 2px;
}